# Clojure CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-clojure/ for more details
#
version: 2

references:
  base_docker: &base_docker
    working_directory: ~/parallel_tests
    docker:
      - image: circleci/clojure:openjdk-11-tools-deps-node-browsers

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m

jobs:
  test_clj:
    <<: *base_docker
    parallelism: 4
    steps:
      - checkout
      - run: make ci-test
      - store_test_results:
          path: test-results

workflows:
  version: 2
  build:
    jobs:
      - test_clj
